<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function() {
		
		
		if(document.location.search.length) {
		    // query string exists
		    //alert(document.location.search);
		    logout();
		}
		userAccess();
		
	});
	
	function logout(){
		
		localStorage.clear();
        
        window.location.href = "https://quiet-garden-64546.herokuapp.com";
        	
	}
	
	$.urlParam = function(name){
        var results = new RegExp('[\?&]' + name + '=([^]*)').exec(window.location.href);
        if (results==null){
           return null;
        }
        else{
           return results[1] || 0;
        }
    }
	
	function userAccess(){
        var onePassId = localStorage.getItem('onePassId');
        var access_token = localStorage.getItem('access_token');
     	
        
        if(onePassId != null && access_token != null){
        	
        	$('body').show();
        }else{
        	window.location.href = "https://quiet-garden-64546.herokuapp.com";
        	
        }
	}
</script>
</head>
<body style="display: none;">
<div class="register container">
  
  <section id="stats-subtitle">
  <div class="row">
    <div class="col-12 mt-3 mb-1">
      <h4 class="text-uppercase">Link a new profile</h4>
      <p>Select a module <a id="logout">Logout</a></p>
      
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-md-12">
      <div class="card overflow-hidden">
      <a href="/book_login" style="cursor:pointer">
        <div class="card-content">
          <div class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="align-self-center">
                <i class="icon-book-open primary font-large-2 mr-2"></i>
              </div>
              <div class="media-body">
              	<br>
                <h4>Stanbic IBTC</h4>
                <span>Book Library</span>
                <br><br>
              </div>
              <div class="align-self-center">
                <h1></h1>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
    </div>

    <div class="col-xl-6 col-md-12">
    
      <div class="card">
      <a href="/poc_login" style="cursor:pointer">
        <div class="card-content">
          <div class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="align-self-center">
                <i class="icon-direction danger font-large-2 mr-2"></i>
              </div>
              <div class="media-body">
              	<br>
                <h4>Stanbic IBTC</h4>
                <span>POC</span>
                <br><br>
              </div>
              <div class="align-self-center"> 
                <h1></h1>
              </div>
            </div>
          </div>
        </div>
        </a>
      </div>
    </div> 
  </div>
    
</section>
</div>

<script>
	
	$(document).ready(function() {
		$('#logout').on('click', invalidateToken);
	});
	
	function logout(){
		
		localStorage.clear();
        
        window.location.href = "https://quiet-garden-64546.herokuapp.com";
        	
	}
	
	function invalidateToken(){
		
		var onePassId = localStorage.getItem("onePassId");
		
		var jsonString = {onePassId:onePassId};
	    
	    $.ajax({ 
	        type: "POST",
	        contentType: "application/json",
	        dataType: "json",
	        cache: false,
	        url: "https://quiet-garden-64546.herokuapp.com/api/v1/logout",
	        data: JSON.stringify(jsonString),
	        timeout: 60000, // sets timeout to one minute
	        
	        error: function(response){
	        	
				if(response.status != "200"){
	            	console.log(response)
	            	alert(response);
	            }
	        },

	        success: function(response) {
	            
	            
	            console.log(response);
	            if(response.responseCode != "000"){
	            	 
	            	 alert(response.responseDescription);
	            }else{
	            	
	            	invalidatePocToken();   
					logout();
	            }
	            
	        }
	    });
	}
	
	function invalidatePocToken(){
		
		var onePassId = localStorage.getItem("onePassId");
		
		var jsonString = {onePassId:onePassId};
	    
	    $.ajax({ 
	        type: "POST",
	        contentType: "application/json",
	        dataType: "json",
	        cache: false,
	        url: "https://stanbic-poc.herokuapp.com/sso/logout",
	        data: JSON.stringify(jsonString),
	        timeout: 60000, // sets timeout to one minute
	        
	        error: function(response){
	        	
				if(response.status != "200"){
	            	console.log(response)
	            	alert(response);
	            }
	        },

	        success: function(response) {
	            
	            console.log(response);
	            if(response.Code != "200"){
	            	 
	            	 alert(response.message);
	            }
	            
	        }
	    });
	}
	
</script>
</body>